body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
padding:20px;
}

.box{
max-width:500px;
margin:auto;
background:#1b1b1b;
padding:20px;
border-radius:15px;
}

select,
button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
font-size:16px;
}

button{
cursor:pointer;
}

#result{
margin-top:20px;
font-size:18px;
}
